<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <title>yes</title>
    <link href="./static/css/454.84e3b72c.chunk.css" rel="stylesheet" />
    <link href="./static/css/main.c2a16687.chunk.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="http://127.0.0.1:8000/protected"
            >code pen</a
          >
          <a class="nav-item nav-link" href="http://127.0.0.1:8000/logout"
            >Logout</a
          >
          <a class="nav-item nav-link" href="http://127.0.0.1:8000/login/"
            >Login</a
          >
          <a class="nav-item nav-link" href="#">SIgn up</a>
        </div>
      </div>
    </nav>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
      !(function (e) {
        function a(a) {
          for (
            var f, r, t = a[0], n = a[1], o = a[2], i = 0, l = [];
            i < t.length;
            i++
          )
            (r = t[i]),
              Object.prototype.hasOwnProperty.call(b, r) &&
                b[r] &&
                l.push(b[r][0]),
              (b[r] = 0);
          for (f in n)
            Object.prototype.hasOwnProperty.call(n, f) && (e[f] = n[f]);
          for (u && u(a); l.length; ) l.shift()();
          return d.push.apply(d, o || []), c();
        }
        function c() {
          for (var e, a = 0; a < d.length; a++) {
            for (var c = d[a], f = !0, t = 1; t < c.length; t++) {
              var n = c[t];
              0 !== b[n] && (f = !1);
            }
            f && (d.splice(a--, 1), (e = r((r.s = c[0]))));
          }
          return e;
        }
        var f = {},
          b = { 453: 0 },
          d = [];
        function r(a) {
          if (f[a]) return f[a].exports;
          var c = (f[a] = { i: a, l: !1, exports: {} });
          return e[a].call(c.exports, c, c.exports, r), (c.l = !0), c.exports;
        }
        (r.e = function (e) {
          var a = [],
            c = b[e];
          if (0 !== c)
            if (c) a.push(c[2]);
            else {
              var f = new Promise(function (a, f) {
                c = b[e] = [a, f];
              });
              a.push((c[2] = f));
              var d,
                t = document.createElement("script");
              (t.charset = "utf-8"),
                (t.timeout = 120),
                r.nc && t.setAttribute("nonce", r.nc),
                (t.src = (function (e) {
                  return (
                    r.p +
                    "static/js/" +
                    ({}[e] || e) +
                    "." +
                    {
                      0: "5d4ffd89",
                      1: "43deafab",
                      2: "32705370",
                      3: "eda74b0e",
                      4: "77eff024",
                      5: "8d95cd24",
                      6: "8b3bcc84",
                      7: "5138138c",
                      8: "9ca9f231",
                      9: "8e3d50b3",
                      10: "8ab93c7a",
                      11: "f048cac6",
                      12: "4d783a20",
                      13: "a1d46bbe",
                      14: "4f377127",
                      15: "70ca8592",
                      16: "3c1ea42f",
                      17: "6982ccbb",
                      18: "9d0ffa14",
                      19: "9c6c0c35",
                      20: "8f6e3536",
                      21: "fb80bc0d",
                      22: "ddeaffb4",
                      23: "f30f5c39",
                      24: "2d3fecea",
                      25: "994c8be3",
                      26: "3478021d",
                      27: "86f1979d",
                      28: "a6319bd0",
                      29: "9c7d8f00",
                      30: "0509f4bf",
                      31: "3135e166",
                      32: "f9512257",
                      33: "f8d9d2ac",
                      34: "305388dc",
                      35: "4602de3f",
                      36: "e4db5f72",
                      37: "6ff2b1b5",
                      38: "19ac85c7",
                      39: "c05a0c06",
                      40: "a1896d73",
                      41: "234df3a1",
                      42: "2c499b1a",
                      43: "c9a0e17c",
                      44: "ff75509f",
                      45: "42187c79",
                      46: "14fc96c1",
                      47: "423c81a2",
                      48: "e8827f99",
                      49: "ebf13f93",
                      50: "abc51296",
                      51: "7be91994",
                      52: "3b2e981f",
                      53: "fe997518",
                      54: "57bd35f7",
                      55: "8348df89",
                      56: "cfa0e8e1",
                      57: "192e8a12",
                      58: "18ca5465",
                      59: "5196a922",
                      60: "b9aa932e",
                      61: "bc41d26e",
                      62: "5dee68b0",
                      63: "4d0c45c4",
                      64: "e5e07729",
                      65: "81f35dda",
                      66: "55128b4e",
                      67: "503cda94",
                      68: "bf1a9d87",
                      69: "f8321385",
                      70: "8ccf34ed",
                      71: "a42ee57c",
                      72: "1eb03a84",
                      73: "cfab54ba",
                      74: "6b0d6c5e",
                      75: "df3be4bb",
                      76: "79d78c9e",
                      77: "27741ce8",
                      78: "cc27c345",
                      79: "1b68d14d",
                      80: "6e78105b",
                      81: "e392a2d6",
                      82: "3a4d3288",
                      83: "3f5eb82e",
                      84: "9cc5cd32",
                      85: "8e2257d7",
                      86: "172300e4",
                      87: "427b082d",
                      88: "ccfa80a3",
                      89: "9d0a7490",
                      90: "838c3805",
                      91: "1eab6458",
                      92: "075da408",
                      93: "af4e0eb3",
                      94: "c74856d9",
                      95: "37b7eb6c",
                      96: "50ad02ab",
                      97: "cf39f457",
                      98: "90fa4aaf",
                      99: "55d68d37",
                      100: "ab92fb50",
                      101: "681aa7e0",
                      102: "c489d1ac",
                      103: "820052ea",
                      104: "1834eda9",
                      105: "cf011241",
                      106: "d142e4ad",
                      107: "b8776f0b",
                      108: "122c9412",
                      109: "1ca476f4",
                      110: "8b8d0085",
                      111: "83ddc1e9",
                      112: "c14b81fa",
                      113: "98a388fb",
                      114: "85c36ac5",
                      115: "03431be8",
                      116: "aab78e47",
                      117: "034df702",
                      118: "96c3f52f",
                      119: "2e77c548",
                      120: "76997235",
                      121: "aee17594",
                      122: "130df269",
                      123: "0bcfac1e",
                      124: "48d71fe2",
                      125: "9603a116",
                      126: "134c00cc",
                      127: "d5550c60",
                      128: "bd93a02f",
                      129: "c597f7b2",
                      130: "c41b8dfa",
                      131: "d298ad3a",
                      132: "98ad2b88",
                      133: "600da4cd",
                      134: "7dbb6e5a",
                      135: "ba077a33",
                      136: "2be9f1e6",
                      137: "bf997cf5",
                      138: "083bd027",
                      139: "037767cd",
                      140: "286be3d0",
                      141: "1e32b4d6",
                      142: "67808ba2",
                      143: "cdd8c744",
                      144: "a624d609",
                      145: "366bdfc5",
                      146: "bcd18dac",
                      147: "5813eef2",
                      148: "ca083768",
                      149: "5ff9068f",
                      150: "51f4b2ac",
                      151: "f3907b46",
                      152: "90126c7e",
                      153: "2e89b7f5",
                      154: "e1d272fc",
                      155: "5f440c0a",
                      156: "c173ee3a",
                      157: "7fdadc0c",
                      158: "965f55a8",
                      159: "81dfe776",
                      160: "094b6233",
                      161: "15ee1d4d",
                      162: "792dcfb2",
                      163: "205d9711",
                      164: "29ada93e",
                      165: "53ce4007",
                      166: "1282438d",
                      167: "f6d2d7c3",
                      168: "d6c76d3a",
                      169: "e5a3bc1f",
                      170: "5497e943",
                      171: "337da047",
                      172: "34f8fa7a",
                      173: "39b7bec9",
                      174: "d23aef7b",
                      175: "bab99a09",
                      176: "a4b1ba42",
                      177: "6d60ada1",
                      178: "a9565cc5",
                      179: "1a106e5d",
                      180: "8a1a4d97",
                      181: "8f50df57",
                      182: "0871b128",
                      183: "c3865684",
                      184: "176cb1ba",
                      185: "ecd91f83",
                      186: "c4f17526",
                      187: "46467700",
                      188: "cedb12b5",
                      189: "e5ab118a",
                      190: "a24d137f",
                      191: "57426ad6",
                      192: "716c7bc6",
                      193: "efb6d343",
                      194: "b94ec7ba",
                      195: "da5d8d16",
                      196: "42f7fe15",
                      197: "a485aca7",
                      198: "15c96d69",
                      199: "dfec1969",
                      200: "5c9f47f7",
                      201: "faf7a254",
                      202: "5361c29a",
                      203: "096b77a9",
                      204: "6a2b7405",
                      205: "331ad395",
                      206: "709b2a83",
                      207: "723a3167",
                      208: "a730c241",
                      209: "aea4c654",
                      210: "e8078a5b",
                      211: "f477fa43",
                      212: "20979c82",
                      213: "462352ff",
                      214: "b8ff7626",
                      215: "52976455",
                      216: "15b8583f",
                      217: "8b8927bf",
                      218: "ad51e253",
                      219: "12208c7c",
                      220: "05a0c40b",
                      221: "33d8fe3f",
                      222: "680faa92",
                      223: "28aa02ba",
                      224: "f1bdcebb",
                      225: "65ae7c27",
                      226: "4209a149",
                      227: "72175bca",
                      228: "b3321a24",
                      229: "27c9f19b",
                      230: "9474c221",
                      231: "148ff99c",
                      232: "2508e938",
                      233: "23462aa5",
                      234: "f7aa679f",
                      235: "befe1bfc",
                      236: "bdda5fe1",
                      237: "c4d4d892",
                      238: "fbfc26c2",
                      239: "9676279c",
                      240: "b1e98210",
                      241: "27373cd4",
                      242: "d2b26fb6",
                      243: "58d581a0",
                      244: "ca11d674",
                      245: "0fc139ef",
                      246: "a63fdcc9",
                      247: "8cd25cd5",
                      248: "34ee07c3",
                      249: "90c1f07b",
                      250: "e44cadd6",
                      251: "aebe5347",
                      252: "47b21120",
                      253: "546b3fe4",
                      254: "db6cadbe",
                      255: "eea99f0a",
                      256: "89960b3b",
                      257: "87dfafd8",
                      258: "1ab0b495",
                      259: "afa77b5a",
                      260: "37387e4c",
                      261: "a5f54e53",
                      262: "4234985c",
                      263: "a0c8c98b",
                      264: "f4fc9653",
                      265: "a7aeb284",
                      266: "4c27b9e8",
                      267: "9afe774a",
                      268: "1c861c06",
                      269: "7a212376",
                      270: "0e1e49d8",
                      271: "5f3747da",
                      272: "98bfa890",
                      273: "67057f7f",
                      274: "e7e6ff17",
                      275: "2ec5e9df",
                      276: "36318619",
                      277: "c693f52f",
                      278: "2b0a611b",
                      279: "0858e28a",
                      280: "a171d1bc",
                      281: "edd99bf3",
                      282: "520d1b8e",
                      283: "45cc43a9",
                      284: "a317a1db",
                      285: "8cbb15b5",
                      286: "93363802",
                      287: "110461dc",
                      288: "cac2edc6",
                      289: "5aac8c36",
                      290: "d14c879a",
                      291: "9fbb5a9d",
                      292: "2ef14bd2",
                      293: "80c5a57f",
                      294: "4d6012c3",
                      295: "9e362480",
                      296: "bf171fc0",
                      297: "401e6883",
                      298: "b98c3700",
                      299: "a60dd01f",
                      300: "cef68271",
                      301: "9666e88d",
                      302: "ff382472",
                      303: "8a609bb6",
                      304: "f511b929",
                      305: "9aa539de",
                      306: "c36fe5f7",
                      307: "b790503b",
                      308: "5da77a4d",
                      309: "c9d76a97",
                      310: "9e91acc9",
                      311: "316ad60b",
                      312: "ef9e39ed",
                      313: "39ec973f",
                      314: "09a296ce",
                      315: "d9ed7eba",
                      316: "57aae66a",
                      317: "89635332",
                      318: "f782ecc5",
                      319: "8d530ad8",
                      320: "1bf0925d",
                      321: "ec40f805",
                      322: "86b417fc",
                      323: "774ab24b",
                      324: "aa1bbf2f",
                      325: "21ed7bbd",
                      326: "baa214f7",
                      327: "3c5518d2",
                      328: "b894632b",
                      329: "f371c473",
                      330: "e4934239",
                      331: "ebc7f9ce",
                      332: "4fbda604",
                      333: "7f69b56e",
                      334: "9c1e6f12",
                      335: "169e930f",
                      336: "5378bc3f",
                      337: "b7c54aa0",
                      338: "b6d35189",
                      339: "b192e9b6",
                      340: "4f16111f",
                      341: "60f4d895",
                      342: "089c807c",
                      343: "ef359751",
                      344: "43ae3358",
                      345: "d1005f46",
                      346: "a26837bc",
                      347: "32eb0b80",
                      348: "0aa95d08",
                      349: "9e53641a",
                      350: "0dd335f7",
                      351: "57c93d08",
                      352: "27a4e76a",
                      353: "5f89bb9e",
                      354: "27656579",
                      355: "7808567c",
                      356: "00455007",
                      357: "316e7879",
                      358: "a6753784",
                      359: "7761ebeb",
                      360: "ace4e4a6",
                      361: "3a9e79ad",
                      362: "61362bb0",
                      363: "1e9fd793",
                      364: "c3340e0a",
                      365: "d67393f6",
                      366: "8aae0689",
                      367: "2279c1e8",
                      368: "3f41991e",
                      369: "83785271",
                      370: "1c81edba",
                      371: "d01d8538",
                      372: "2179aa85",
                      373: "ffd404cc",
                      374: "9f1c915c",
                      375: "d99ff98b",
                      376: "0035a735",
                      377: "bf0a3554",
                      378: "3a09540b",
                      379: "db62bdba",
                      380: "2985b23e",
                      381: "02c15901",
                      382: "9a580adb",
                      383: "cc49667a",
                      384: "21248880",
                      385: "001c92b5",
                      386: "13391053",
                      387: "8e65f270",
                      388: "a50ed47c",
                      389: "abed445f",
                      390: "c0046be2",
                      391: "f32b4b1c",
                      392: "2d3efde1",
                      393: "e95964f3",
                      394: "21959ace",
                      395: "3dc0b9e0",
                      396: "fccdb86a",
                      397: "fa74d50c",
                      398: "0abcc0d9",
                      399: "da54ad1b",
                      400: "d7702abc",
                      401: "482c5e3c",
                      402: "33dffb3e",
                      403: "d5410e6b",
                      404: "c3134e3e",
                      405: "e45ca174",
                      406: "164b8147",
                      407: "5ffb7299",
                      408: "3dd37187",
                      409: "b7785570",
                      410: "e30e55ec",
                      411: "89054d82",
                      412: "a5978784",
                      413: "55f2479d",
                      414: "cb19696f",
                      415: "e707e6d4",
                      416: "ff6cdd93",
                      417: "8a432255",
                      418: "c59a6bbf",
                      419: "0aa754b9",
                      420: "db8559b5",
                      421: "b2227f4b",
                      422: "35c4918e",
                      423: "440f82cd",
                      424: "27d065ba",
                      425: "12739cbf",
                      426: "1b79d047",
                      427: "00fe8cd5",
                      428: "06e22c98",
                      429: "ab6bfb76",
                      430: "e2681d2e",
                      431: "f291809a",
                      432: "e70d0b2b",
                      433: "de345feb",
                      434: "ef11775d",
                      435: "2638bf18",
                      436: "a1786d00",
                      437: "8fc0c414",
                      438: "12e58a95",
                      439: "7d51b145",
                      440: "0a233c8d",
                      441: "15658971",
                      442: "7012e519",
                      443: "15ad10a1",
                      444: "9447c37a",
                      445: "9a05599b",
                      446: "28dc6600",
                      447: "b9470b53",
                      448: "b4b24bc9",
                      449: "b56e43b0",
                      450: "25e3cb77",
                      451: "838a5f82",
                    }[e] +
                    ".chunk.js"
                  );
                })(e));
              var n = new Error();
              d = function (a) {
                (t.onerror = t.onload = null), clearTimeout(o);
                var c = b[e];
                if (0 !== c) {
                  if (c) {
                    var f = a && ("load" === a.type ? "missing" : a.type),
                      d = a && a.target && a.target.src;
                    (n.message =
                      "Loading chunk " +
                      e +
                      " failed.\n(" +
                      f +
                      ": " +
                      d +
                      ")"),
                      (n.name = "ChunkLoadError"),
                      (n.type = f),
                      (n.request = d),
                      c[1](n);
                  }
                  b[e] = void 0;
                }
              };
              var o = setTimeout(function () {
                d({ type: "timeout", target: t });
              }, 12e4);
              (t.onerror = t.onload = d), document.head.appendChild(t);
            }
          return Promise.all(a);
        }),
          (r.m = e),
          (r.c = f),
          (r.d = function (e, a, c) {
            r.o(e, a) ||
              Object.defineProperty(e, a, { enumerable: !0, get: c });
          }),
          (r.r = function (e) {
            "undefined" != typeof Symbol &&
              Symbol.toStringTag &&
              Object.defineProperty(e, Symbol.toStringTag, { value: "Module" }),
              Object.defineProperty(e, "__esModule", { value: !0 });
          }),
          (r.t = function (e, a) {
            if ((1 & a && (e = r(e)), 8 & a)) return e;
            if (4 & a && "object" == typeof e && e && e.__esModule) return e;
            var c = Object.create(null);
            if (
              (r.r(c),
              Object.defineProperty(c, "default", { enumerable: !0, value: e }),
              2 & a && "string" != typeof e)
            )
              for (var f in e)
                r.d(
                  c,
                  f,
                  function (a) {
                    return e[a];
                  }.bind(null, f)
                );
            return c;
          }),
          (r.n = function (e) {
            var a =
              e && e.__esModule
                ? function () {
                    return e.default;
                  }
                : function () {
                    return e;
                  };
            return r.d(a, "a", a), a;
          }),
          (r.o = function (e, a) {
            return Object.prototype.hasOwnProperty.call(e, a);
          }),
          (r.p = "/"),
          (r.oe = function (e) {
            throw (console.error(e), e);
          });
        var t = (this.webpackJsonpgroup_project =
            this.webpackJsonpgroup_project || []),
          n = t.push.bind(t);
        (t.push = a), (t = t.slice());
        for (var o = 0; o < t.length; o++) a(t[o]);
        var u = n;
        c();
      })([]);
    </script>
    <script src="./static/js/454.252c6cb3.chunk.js"></script>
    <script src="./static/js/main.d145882c.chunk.js"></script>
  </body>
</html>
