{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" href=" http://127.0.0.1:8000/protected">code pen</a>
     {% comment %} {% if request.user.is_authenticated %} {% endcomment %}

       <a class="nav-item nav-link" href="http://127.0.0.1:8000/logout">Logout</a>
        {% comment %} {% else %} {% endcomment %}
        <a class="nav-item nav-link" href="http://127.0.0.1:8000/login/">Login</a>
      <a class="nav-item nav-link" href="http://127.0.0.1:8000/signup/">SIgn up</a>

        {% comment %} {% endif %} {% endcomment %}
      <a class="nav-item nav-link active" href="#"
        >Home <span class="sr-only">(current)</span></a
      >


     x

    </div>
  </div>
</nav>
