
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>









    <h3>signup form</h3>
    <div class="sup_form">


    <form  method="post">

    {% csrf_token%}
    {{form.as_p}}
    <p>
    Your password must contain at least 8 characters.<br>
    Your password can’t be entirely numeric.</p>







    Bio:&nbsp;&nbsp;<input type="text" name="bio" value=""><br><br>
    Email:&nbsp;&nbsp;<input type="text" name="email" value=""><br><br>
    College:&nbsp;&nbsp;<input type="text" name="college" value=""><br><br>
    Profession:&nbsp;&nbsp;<input type="text" name="profession" value=""><br><br><br>


    &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="" value="submit">
    </form>
    </div>





  </body>
</html>
