<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      {% comment %} href="{% static '/WriteAnswer/src.1de0ce36.css' %}" {% endcomment %}
    />
  </head>
  <body>
  This is ask question page  in /ask
    <div id="app" data-qid="2121Qsas"></div>
    {% comment %} <script src="{% static '/WriteAnswer/src.7c622c2d.js' %}"></script> {% endcomment %}
  </body>
</html>
